<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICalculatorDuplex" />
                <binding name="WSDualHttpBinding_IService1" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8180/Service1.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ICalculatorDuplex"
                contract="ServiceReference1.ICalculatorDuplex" name="WSDualHttpBinding_ICalculatorDuplex">
                <identity>
                    <userPrincipalName value="AD001\z001ms7m" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8073/Service1.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IService1" contract="ServiceReference2.IService1"
                name="WSDualHttpBinding_IService1">
                <identity>
                    <userPrincipalName value="z001ms7m@ad001.siemens.net" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>