@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{var name="Mr. Dabalina";}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hello, world! The time on the server is @DateTime.Now</p>
    <p id="ergebnis" runat="server"></p>
    @if (name.ToLower().Contains("dabalina")) // C# Code
    {
        <p>Hello @name</p>
    } 
    else
    {
        <p>Hello Foreigner</p>
    }
</div>
